@model SurveySystem.Models.TBL_QUESTIONS

@{
    ViewBag.Title = "SurveyStart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SurveyStart</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="container" style="margin: 0 auto; margin-top:50px;">

            <div class="row">
                <h1 style=" font-family:Arial, Helvetica, sans-serif">@Html.DisplayFor(x => x.Q_TEXT)</h1>
            </div>
            <br />
            <br />

            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OPA, @Model.QUESTION_ID)@Model.OPA</h3>
            </div>

            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OPB, @Model.QUESTION_ID)@Model.OPB</h3>
            </div>

            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OPC, @Model.QUESTION_ID)@Model.OPC</h3>
            </div>

            <div class="row">
                <h3>@Html.RadioButtonFor(x => x.OPD, @Model.QUESTION_ID)@Model.OPD</h3>
            </div>

            <div class="row" style="display:none">
                @Html.TextBoxFor(x=>x.COP)
            </div>
            <br />
            <div class="row">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>

        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
